{{template "partials/header" .}}



<h1>{{.Content}}</h1>
<br>
  <!-- <p>Image at the top (card-img-top):</p> -->
  <div class="card" style="width:400px">
    <img class="card-img-top" src="/public/images/{{.Product.Image }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Nama Produk : {{.Product.Name}}</h4>
      <h4 class="card-title">Harga Produk : {{.Product.Price}}</h4>

      <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
      <!-- <a href="#" class="btn btn-success">Masukkan Keranjang</a> -->
      <a href="/products/editproduct/{{.Product.Id}}" class="btn btn-warning">Edit</a>
      <a href="/products/deleteproduct/{{.Product.Id}}" class="btn btn-danger">Hapus</a>

      <!-- ======hiden post====== -->
      <form method="POST" action="/transactions/create" class="mt-4">
        <input type="hidden" name="idproduct" class="form-control" id="idproduct" value="{{.Product.Id}}"/>
        <input type="hidden" name="image" class="form-control" id="image" value="{{.Product.Image }}"/>
        <input type="hidden" name="name" class="form-control" id="name" value="{{.Product.Name }}"/>
        <!-- <input type="hidden" name="quantity" class="form-control" id="judul" value="{{ .Quantity }}"/> -->
        <input type="hidden" name="price" class="form-control" id="price" value="{{.Product.Price }}"/>
        <input type="hidden" name="status" class="form-control" id="status" value="Belum Bayar"/>
        <small class="text-muted"> <button type="submit" class="btn btn-success">
          Masukkan Keranjang</button></small>
        </form>
      <!-- ====================== -->

    </div>
  </div>
  <br>
  <a href="/products" class="btn btn-primary">Kembali</a>

  <br>
{{template "partials/footer" .}}